fastapi
uvicorn
pydantic
cachetools
python-dotenv

google-auth
langchain-google-genai
langchain-google-vertexai
google-cloud-aiplatform

opentelemetry-api
opentelemetry-instrumentation-fastapi
openinference-instrumentation-langchain
arize-phoenix-otel
arize-phoenix
google-cloud-bigquery>=3.0.0


